@font-face {
    font-family: morsefont;
    src: url('source/morsefont.ttf');
}

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

.homepage {
    display: none;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'morsefont';
    letter-spacing: 10px;
    flex-direction: column;
    font-size: large;
}

.profilpage {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.profilcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 1100px;
    border-radius: 20px;
    background-color: rgba(169, 169, 169, 0.5); 
    backdrop-filter: blur(5px); 
}

.gamepage {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.gamecontent {
    margin-top: 50px;
    border-radius: 20px;
    height: 350px;
    background-color: rgba(169, 169, 169, 0.5);
    backdrop-filter: blur(5px); 
}

.btn_homeToProfil {
    position: relative;
    width: 240px;
    height: 60px;
    top: 163px;
    background-color: #0066ffff;
    transition: 0.4s;
    cursor: pointer;
    font-family: 'morsefont';
    border-radius: 0.5rem;
    border: none;
    letter-spacing: 7px;
    font-size: large;   
}

.btn_profilToHome{
    position: relative;
    top: 35px;
    width: 240px;
    height: 60px;
    background-color: #0066ffff;
    transition: 0.4s;
    cursor: pointer;
    font-family: 'morsefont';
    border-radius: 0.5rem;
    border: none;
    letter-spacing: 7px;
    font-size: large;
}

.btn_homeToGame {
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: white;
    background-color: #0066ffff;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
    font-size: 30px;
    font-family: 'morsefont';
    letter-spacing: 7px;
}

.fotoku {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 450px;
    background-color:rgb(146, 151, 157);
    border-radius: 25px;
    box-sizing: border-box;
}

.fotoZulhan {
    border-radius: 20px;
    box-shadow: black;
    align-self: center;
    width: 350px;
    background-color: #8bc7ff;
    margin-bottom: 20px;
}

.fotoku h1 {
    display: flex;
    justify-content: center;
    color: lime;
}

.biodata {
    width: 40%;
    height: 90%;
    margin-left: 90px;
    justify-content: center;
}

.biodata h1 {
    margin-top: 20px;
    font-size: 20px;
}

.watch {
    width: 15rem;
    height: 100px;
    background-color: #0066ffff;
    border-radius: 1rem;
    margin: 12rem auto 5rem;
}

.time {
    font-family: 'morsefont';
    letter-spacing: 2px;
    font-size: 4.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
}

.morseimg{
    display: flex;
    justify-content: center;
    width: 400px;
}

.img{
    width: 350px;
}

.judulgame {
    margin-top: 40px;
    width: 800px;
}

.text1 {
    display: flex;
    justify-content: center;
    font-family: 'morsefont';
    margin: 5rem auto 3rem;
}

.valuehasilsalah{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    background-color: brown;
}

.valuehasilbenar{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    background-color: lightseagreen;
}

.judulcontain {
    font-family: morsefont;
    font-size: 60px;
    margin-bottom: 2rem;
    letter-spacing: 10px;
    color: lime;
    width: 800px;
}

#kataRandom{
    font-weight: bold;
    text-decoration: underline;
    color: red;
}

input {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
    color: black;
}

.kata{
    text-transform: uppercase;
    margin-bottom: 2rem;
}

p {
    font-size: 25px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input {
    width: 10cm;
    height: 1cm;
    margin-bottom: 10px;
    text-align: center;
}

#submit {
    background-color: #057CEF;
    width: 100px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 0px solid #ccc;
    transition: 0.4s;
}

#result {
    margin: 70px auto;
    font-size: 30px;
}

.btn_homeToGame:hover, #submit:hover, .btn_homeToProfil:hover {
    background-color: rgb(93, 156, 251);
}

.btn_homeToGame:active, #submit:active{
    transform: scale(0.8);
}

.symbol {
    z-index: -1;
    position: absolute;
    white-space: nowrap;
    font-family: 'morsefont';
    font-size: 24px; /* Ubah ukuran font sesuai keinginan Anda */
    color: lime;
    transform-origin: center;
    animation: fall 6s linear forwards; /* Ubah durasi dan easing sesuai keinginan Anda */
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}

/* Media query untuk layar dengan lebar maksimal 600px atau layar hp */
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .homepage {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .profilpage {
        margin-top: 30px;
        width: 100%;
        height: 100%;
    }

    .profilcontent { 
        width: 90%;
        height:fit-content;
        flex-direction: column;
    }
    
    .profilcontent h1 {
        font-size: 10px;
    }

    .gamepage {
        width: 100%;
        height: 100%;
    }

    .gamecontent {
        width: 80%;
    }

    .fotoku {
        margin-top: 30px;
        border-radius: 10px;
        width: 150px;
        height: 150px;
    }

    .fotoZulhan {
        width: 100px;
    }

    .biodata {
        margin: 10px auto 40px;
        width: 90%;
        height: 30%;
    }

    .biodata h1 {
        font-size: 10px;
    }

    .textheader {
        text-align: center;
    }
    
    .judulgame {
        width: 80%;
    }

    .text1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
    }

    .btn_homeToGame {
        width: 50%;
        height: 10%;
        font-size: 20px;
        text-align: center;
    }

    .btn_homeToProfil {
        position: relative;
        top:30%;
        text-align: center;
        width: 50%;
        height: 10%;
        font-size: 20px;
    }

    .btn_profilToHome {
        position: relative;
        top: 10;
    }

    .judulcontain {
        font-size: 30px;
    }

    .kata {
        font-size: 15px;
    }
}